* {
  font-family: "Inconsolata";
}
#navbar,
#menu,
#socialBar,
#statusBar {
  background-color: #0f172a80;
  backdrop-filter: blur(2px);
}
#cursor {
  /* background: radial-gradient(200px at 100px 170px, rgb(29, 79, 216), transparent 80%); */

  background: rgba(255, 255, 255, 0.2);
  background-blend-mode: color-burn;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: -moz-repeating-radial-gradient(
    center center,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: -ms-repeating-radial-gradient(
    center center,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: repeating-radial-gradient(
    center center,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}
#projects , #card_2_details{
  scroll-behavior: smooth;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Chrome, Edge, and Safari */

}
#card_2_details::-webkit-scrollbar {
  width: 0px;
}
#projects ::-webkit-scrollbar {
  width: 0px;
}

#card_2_details::-webkit-scrollbar-track {
  background-color: transparent;
}
#projects ::-webkit-scrollbar-track {
  background-color: transparent;
}

#card_2_details::-webkit-scrollbar-thumb {
  background-color: transparent;
}
#projects::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* For Firefox */
  #card_2_details::-moz-scrollbar {
  width: 0px;
}
#projects ::-moz-scrollbar {
  width: 0px;
}

 #card_2_details::-moz-scrollbar-track {
  background-color: transparent;
}
#projects ::-moz-scrollbar-track {
  background-color: transparent;
}

#card_2_details::-moz-scrollbar-thumb {
  background-color: transparent;
}
#projects::-moz-scrollbar-thumb {
  background-color: transparent;
}
#upperdiv_1 , #bottomdiv_6{
  opacity: 0;
}